html, body {
  height: 100%; /* Upewnij się, że cała strona ma pełną wysokość */
  margin: 0; /* Usuń domyślne marginesy */
  padding: 0; /* Usuń domyślne wypełnienie */
  background-image: url("assets/home_with_new_background.png");
  background-size: auto; /* Tło zachowa swoje oryginalne proporcje */
  background-position: center 80px; /* Ustaw tło tak, aby było przesunięte o 80px w dół */
  background-attachment: fixed; /* Tło jest statyczne i nie przewija się z treścią */
  background-repeat: no-repeat; /* Nie powtarzaj tła */
  color: white; /* Kolor tekstu, żeby był widoczny na tle */
  font-family: 'Poppins', sans-serif; /* Możesz dostosować czcionkę */
}
